<div class="col-md-4 offset-md-4">
  <div class="container">
    <div class="card">
      <div class="card-header bg-primary">
        <h2 class="text-center">WARIKAN</h2>
      </div>
      <div class="card-body">
        <% if @travels.present? %>
         <% @travels.each do |travel| %>
          <div class="card">
            <strong>
              旅行のタイトル:<%= link_to travel.name, travel%>
            </strong>
          </div>
           <%= link_to '編集', edit_travel_path(travel), class:"btn btn-warning"%>
           <%= link_to '削除', travel, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%>
          <% end %>
        <% end %>
      </div>
      <p class="text-center"><%= link_to '旅を追加する', new_travel_path ,class: "btn btn-success" %></p>
     </div>
  </div>
</div>




